<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Successfully Added</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

        <h1>Add From Excel
        </h1>
        <br>


        <div class="Section">
            <div class="topic">
                Add Candidates to Database
            </div>
            <br>
            <center>
                <div class="border" id="#box">
                    <br>
                    <h4>Thank You! </h4>
                    <span style="color: green;font-size: 30px; font-family: Calibri"> &#9989 File Upload Successfully</span>
                    <br>
                    <br>
                </div>
            </center>
        </div>
    </body>

</html>